<apex:page controller="LCBSNewContractor" showChat="false" showHeader="false" sidebar="false" standardStylesheets="true">
<apex:form >
<apex:includescript value="//code.jquery.com/jquery-1.11.1.min.js" / >
<script>
             j$ = jQuery.noConflict();
             j$(document).ready( function () {
             j$('.dropdown-toggle').dropdown();
             });
</script>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>Honeywell LCBS Contractor Portal</title>

    <!-- Bootstrap core CSS -->
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/bootstrap.min.css')}" />
          <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/honeywell-lcbs.css')}" />
          <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/sticky-footer.css')}" />
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>
          <script src="js/ie-emulation-modes-warning.js">
          </script>
          
      
        

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

<c:LCBS_DistributorView_Navigation_Menu />
<div style="background-color:#595959; color:grey;padding:20px; margin-top:-2px; text-align:center;">
<h1>Add a New Contractor</h1>
</div> 
<apex:pageMessages rendered="true"/>

    <div class="container">
 
<br/>
<h2>Search for a Contractor in Honeywell SAP</h2>
    <div class="input-group">
      <!--<input type="text" class="form-control" placeholder="Search for contractors"/>-->
        <apex:inputText styleClass="form-control" value="{!CPRONumber}"/>
        <!--<button class="btn btn-primary" style="color: #fff;background: #3b87de;  border-color: #3b87de;border-radius: 2px;color: #fff;background-color: #337ab7;border-color: #2e6da4;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;" type="button">Add to My Contractors</button> -->
        <apex:commandButton styleClass="btn btn-primary" action="{!addCPROContractor}" style="color: #fff;background: #3b87de;  border-color: #3b87de;border-radius: 2px;color: #fff;background-color: #337ab7;border-color: #2e6da4;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;" value="Add to My Contractors"/>
        <!--<button class="btn btn-default" style="border-radius: 2px;color: #333;background-color: #fff;border-color: #ccc;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;" type="button">Cancel</button>-->
        <apex:commandButton styleClass="btn btn-default" style="border-radius: 2px;color: #333;background-color: #fff;border-color: #ccc;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;" value="Cancel" />
    </div>
    <br/>
<h2>Or Create a New Contractor</h2>
  
<p>Enter a contractor's email address, and they will receive an email confirmation that links them to the portal and prompts them to set a password and complete their Company Profile. Add multiple new contractors by separating email addresses with a comma.</p>
  <div class="form-group">
    
   <!-- <input type="email" class="form-control" id="exampleFirstName" placeholder="joe@acme.com"/>-->
  <!-- <label for="exampleFirstName">Company Name</label>
   <apex:selectList id="CompanyLookupPicklist" styleClass="form-control" value="{!con.AccountID}" size="1">
      <apex:selectOptions value="{!CompanyLoc}" />
   </apex:selectList>
   <br/>
   <label for="exampleFirstName">First Name</label>
   <apex:inputField styleClass="form-control" value="{!con.Firstname}"/>
   <br/>
   <label for="exampleFirstName">Last Name</label>
   <apex:inputField styleClass="form-control" value="{!con.LastName}"/>
   <br/>
   <label for="exampleFirstName">Phone</label>
   <apex:inputField styleClass="form-control" value="{!con.Phone}"/>
   <br/>-->
   <label for="exampleFirstName">Email Address</label>
   <apex:inputText styleClass="form-control" value="{!Email}"/>
   <br/>
   <!--<a href="#" class="btn btn-primary" style="color: #fff;background: #3b87de;  border-color: #3b87de;border-radius: 2px;color: #fff;background-color: #337ab7;border-color: #2e6da4;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;" role="button">Submit</a>-->
  <!-- <apex:commandButton action="{!createContractor}" style="color: #fff;background: #3b87de;  border-color: #3b87de;border-radius: 2px;color: #fff;background-color: #337ab7;border-color: #2e6da4;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;" value="Submit"/>-->
  <apex:commandButton action="{!EmailContractor}" style="color: #fff;background: #3b87de;  border-color: #3b87de;border-radius: 2px;color: #fff;background-color: #337ab7;border-color: #2e6da4;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;" value="Submit"/>
  </div>


     

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>





</apex:form>
</apex:page>