<!--------------
Name         : LCBS_AllBuildings
Created By   : Chiranjeevi Gogulakonda
Company Name : NTT Data
Project      : LCBS
Created Date : 
Test Class   :  
Test Class URL: 
Usages       : 
Modified By  : Nagarajan Varadarajan
---------->

<apex:page controller="LCBS_Allbuidings_controller" showChat="false" showHeader="false" sidebar="false" standardStylesheets="true">
    <apex:form >
   <apex:includescript value="//code.jquery.com/jquery-1.11.1.min.js" / >
    <apex:includescript value="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js" />
    <apex:stylesheet value="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css" />
    <script>
      j$ = jQuery.noConflict();
      j$(document).ready( function () {
        j$('.dropdown-toggle').dropdown();
        
        
      }
                        );
      
    </script>
  <apex:pageMessages />
  

   
      <html>
        <head>
          <meta charset="utf-8" />
          <meta http-equiv="X-UA-Compatible" content="IE=edge" />
          <meta name="viewport" content="width=device-width, initial-scale=1" />
          <meta name="description" content="" />
          <meta name="author" content="" />
          <title>
            Honeywell LCBS Contractor Portal
          </title>
          <!-- Bootstrap core CSS -->
          <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/bootstrap.min.css')}" />
         <!-- <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/honeywell-lcbs.css')}" /> -->
          <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/sticky-footer.css')}" />
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>
           <apex:includeScript value="{!URLFOR($Resource.LCBS_Font)}"/>
           <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/salesforce_CSS.css')}" />
             <apex:stylesheet value="{!PAGE_CSS}"/>
          <script src="js/ie-emulation-modes-warning.js">
          </script>
          <style>
              @media (min-width: 64.001rem){
                .main-content {
                    padding-top: 9.000rem !important;
                }
              }
          </style>
        </head>
        
        <body>
          <div class="background">
          <apex:actionFunction name="LCBSNewBuildingOwner" action="{!newBuildingOwner}"/>
          <apex:actionFunction name="LCBSNewBuilding" action="{!newBuilding}"/>
          

        
          <div class="container" style="background:#fff;width:100%;">
        <div>
          <c:LCBSDistributorHeader_new />
         </div>
                  
            <br/> <br/> <br/><br/> <br/>
          
           <div class="col-md-8">
             <p class="messageText"> Buildings with Active Alerts </p> 
             <p class="labelText"> 0 - You have No Active Alerts </p>
            
            
            <hr/>
             <br/>
            
            
            
            
             <p class="labelText"> All Buildings </p> <br/> 
             <!-- <input type="button" style="background:#3784DE;width:100%;height:30px;text-align:center;border-radius:5px;" value="Add a New Building" name="button" class="button" onclick="newBuildingOwner();" /> -->
              
              
         <!--     <table id="contacttable" class="table" style="float:left;margin-left:1%;padding-right:25%;">
                <thead>
                  <tr>
                    <th>
                      Building Name
                    </th>
                   
                    <th>
                      Address
                    </th>
                   
                  </tr>
                </thead>
                <tbody>-->
                 <apex:repeat value="{!build }" var="b" > 
                   
            <div class="panel-group" id="accordion">
              <div class="panel panel-default colorBlk">
                <div class="panel-heading Pad5">
                  <h5 class="row">
                    <span class="col-md-6"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      <apex:commandLink action="https://{!$Label.Azure_Endpoint}/app/thermostatSummary/{!b.BuildingGUID__c}" target="">
                         <p class="labelText">  {!b.Name} </p>
                           </apex:commandLink>
                      </a></span><span class="hidden-xs col-md-4" >  <p class="dataText">{!b.Address__c} </p></span>
                      <span class="col-md-1 pull-right">
                          <apex:commandLink styleClass="indicator glyphicon glyphicon glyphicon-play" action="{!moreinfo}"> 
                          <apex:param assignTo="{!buildId}" value="{!b.Id}" name="{!b.Id}"/> 
                      </apex:commandLink> 
                      </span>
                      
                     <!-- <a href="/LCBS_MoreInfo_BuildInfo?Id={!b.Id}" target="_blank"><i class="indicator glyphicon glyphicon glyphicon-play " ></i></a> -->
                  </h5>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body">
                   
                  </div>
                </div>
              </div>
              </div>
             
                  </apex:repeat>
                </div>
                 <div class="col-md-3">
                 
                 <div style="border:2px solid; border-color:grey;padding:10px 10px 10px 30px;">
            <p class="labelText"> Actions </p> <br/><br/>
            <input type="button" value="Add Building" name="button" style="width:85%;" onclick="LCBSNewBuilding();" />
            <br/> <br/><input type="button" value="Add Building Owner" style="width:85%;" onclick="LCBSNewBuildingOwner();" />
            <br/><br/> <input type="button" value="Add Gateway" style="width:85%;" onclick="newBuildingOwner();" />
            <br/><br/>
            </div>
          
           <br/><br/>
          
            <p class="labelText">News from Honeywell </p>
          
            <p class="labelText"> Maintenance Alert - June 3 </p> 
            <p class="dataText">(Place to alert the user of any performance issues with the portal, or other portal related announcement.) </p>
            
            <a href="#" >  Learn More </a> 
            <br/><br/>
            
            <p class="labelText">New Training Videos </p>
            <p class="dataText">(Other messages that product owners or Honeywell may want to share only with LCBS contractors who are authenticated in the system.)</p>
            
            <a href="#" > Learn More </a> 
           <br/> 
          
           </div>
                 
                 
            
           <!--  <div style="margin-top:-15%;float:right;margin-right:1%;width:19%;border:2px solid;border-color:grey;padding:5px;padding-left:15px;">
            <div style="border:2px solid;border-color:grey;padding:5px;padding-left:15px;"> -->
              
           </div>
   
            <!-- /.container -->
            <!-- Bootstrap core JavaScript
================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
            </script>
            <script src="js/bootstrap.min.js">
            </script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="js/ie10-viewport-bug-workaround.js">
            </script>
            </div>
        </body>
      </html>
      
    </apex:form>
  </apex:page>