<!--------------
Name         : LCBSBuildingOwnerEdit
Created By   : Chiranjeevi Gogulakonda
Company Name : NTT Data
Project      : LCBS
Created Date : 
Test Class   :  
Test Class URL: 
Usages       : 
Modified By  :
---------->
<apex:page controller="LCBSBuildingOwnerEditController" showChat="false" showHeader="false" sidebar="false" standardStylesheets="true">
    <apex:form >
        <html>
        <style>
        @font-face{
            font-family: lcbs_font;
            src: url("{!URLFOR($Resource.LCBS_Font)}");
        }
        </style>
        <apex:includescript value="//code.jquery.com/jquery-1.11.1.min.js" / >
         <script>
        
            j$ = jQuery.noConflict();
            j$(document).ready( function () {
              j$('.dropdown-toggle').dropdown();
               
                 
            });
           
        </script>
        <head>
        <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/bootstrap.min.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/honeywell-lcbs.css')}" />
     <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/sticky-footer.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <meta name="description" content="" />
            <meta name="author" content="" />
            <title>Honeywell LCBS Contractor Portal</title>
            <!-- Bootstrap core CSS -->
            <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/bootstrap.min.css')}" />
            <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/honeywell-lcbs.css')}" />
            <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/sticky-footer.css')}" />
            <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
            <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
            <script src="js/ie-emulation-modes-warning.js"></script>
            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        </head>
        <body>
        

        <apex:actionFunction name="buidingNewSave" action="{!buidingNewSave}"/>
        <c:LCBSCommunityHeader rendered="{!!isDistributor}" />
          <c:LCBS_DistributorView_Navigation_Menu rendered="{!isDistributor}"/>  
        <apex:pagemessages />
        <apex:outputPanel rendered="{!BudOwnrPanel}">
            <div style="background-color:#595959; color:grey;padding:20px; margin-top:-2px; text-align:center;">
                <h1>Building Owner</h1>
            </div>
        </apex:outputPanel>
        <apex:outputPanel rendered="{!BudEditOwnrPanel}">
            <div style="background-color:#595959; color:grey;padding:20px; margin-top:-2px; text-align:center;">
                <h1>Edit Building Owner</h1>
            </div>
        </apex:outputPanel>
            <br/>
            <div class="container">
                <a styleClass="btn btn-default" href="/apex/LCBSBuildingOwners">Return to Building Owners</a>
                <br/>
                <br/>
                <div class="row">
                    <form>
                        <div class="col-md-8">
                            <apex:outputPanel rendered="{!MainPanel}">
                                <div class="form-group">
                                    <label for="exampleBranchName">Building Owner Company :</label>
                                    <apex:OutputField value="{!BuldEdit.name}" />
                                </div>
                                <div class="form-group">
                                    <label for="exampleStreet">First Name :</label>
                                    <apex:OutputField value="{!BuldEdit.First_Name__c}" />
                                </div>
                                <div class="form-group">
                                    <label for="exampleCity">Last Name :</label>
                                    <apex:OutputField value="{!BuldEdit.Last_Name__c}" />
                                </div>
                                <div class="form-group">
                                    <label for="exampleState">Address :</label>
                                    <apex:OutputField value="{!BuldEdit.Address__c}" />
                                </div>
                                 <div class="form-group">
                                    <label for="examplePhone">City :</label>
                                    <apex:OutputField value="{!BuldEdit.City__c}" />
                                </div> 
                                <div class="form-group">
                                    <label for="exampleEmail">Country :</label>
                                    <apex:OutputField value="{!BuldEdit.Country__c}" />
                                </div>
                                <div class="form-group">
                                    <label for="exampleEmail">State :</label>
                                    <apex:OutputField value="{!BuldEdit.State__c}" />
                                </div>
                                
                                   <div class="form-group">
                                    <label for="examplePhone">Postal Code:</label>
                                    <apex:OutputField value="{!BuldEdit.Postal_Code__c}" />
                                </div> 
                                
                                <div class="form-group">
                                    <label for="exampleTimezone">Time Zone :</label>
                                    <apex:OutputField value="{!BuldEdit.Time_Zone__c}" />
                                </div>

                                <div class="form-group">
                                    <label for="exampleTimezone">Phone Number :</label>
                                    <apex:OutputField value="{!BuldEdit.Phone_Number__c}" />
                                </div>
                                <div class="form-group">
                                    <label for="exampleTimezone">Email Address :</label>
                                    <apex:OutputField value="{!BuldEdit.Email_Address__c}" />
                                </div>
                             <div class="form-group">
                                    <label for="exampleTimezone">Contractor Company Location :</label>
                                    <apex:OutputField value="{!BuldEdit.Company_Company_Location12__r.name}" />
                                </div> 
                                <apex:commandButton value="Edit" action="{!ownerEdit}"    />
                                <apex:commandButton value="Delete" action="{!ownerDelete}"    />
                            </apex:outputPanel>
                        </div>
                    </form>
                    <apex:pageBlock rendered="{!EditPanel}">
                        <apex:pageBlockSection columns="2" showHeader="false">
                            <apex:inputField Styleclass="form-control" value="{!BuldEdit.name}" /> 
                            <apex:inputField Styleclass="form-control" value="{!BuldEdit.Phone_Number__c}" /> 
                            <apex:inputField Styleclass="form-control" value="{!BuldEdit.First_Name__c}" /> 
                            <apex:inputField Styleclass="form-control" value="{!BuldEdit.Email_Address__c}" />
                            <apex:inputField Styleclass="form-control" value="{!BuldEdit.Last_Name__c}" /> 
                            <!--apex:inputField value="{!BuldEdit.Contractor_Company_Location1__c}" style="height:110%;border-radius:5px;width:90%;"/>-->                           
                            <apex:selectList id="CompanyLocLookupPicklist" styleClass="form-control" value="{!BuldEdit.Company_Company_Location12__c}" size="1">  
                            <apex:selectOptions value="{!ContractorCompanyLoc}"/>  
                           </apex:selectList>                    
                            <apex:inputField Styleclass="form-control" value="{!BuldEdit.Address__c}" /> <apex:inputHidden />
                            <!--apex:inputField value="{!BuldEdit.Contractor_Branch_Location__c}" style="height:110%;border-radius:5px;width:90%;"/> -->                          
                            <apex:inputField Styleclass="form-control" value="{!BuldEdit.City__c}" /> <apex:inputHidden />
                            <apex:inputField Styleclass="form-control" value="{!BuldEdit.Country__c}" /> <apex:inputHidden />
                            <apex:inputField Styleclass="form-control" value="{!BuldEdit.State__c}" /> <apex:inputHidden />
                            <apex:inputField Styleclass="form-control" value="{!BuldEdit.Postal_Code__c}" /> <apex:inputHidden />
                            <apex:inputField Styleclass="form-control" value="{!BuldEdit.Time_Zone__c}" /> <apex:inputHidden />                                                
                        </apex:pageBlockSection>
                        <input type="button" style="background:#3784DE;width:8%;height:30px;text-align:center;border-radius:5px;" value="Save" name="button" class="button" onclick="buidingNewSave();" /> &nbsp;

                    <apex:commandButton value="Cancel" action="{!buidingCancel}" rendered="{!EditPanel}"/>
                    </apex:pageBlock>
                    <!--<apex:commandButton value="Save New Building Owner" styleClass="btn btn-primary" action="{!buidingNewSave}" rendered="{!EditPanel}"/>-->
                    
                </div>
            </div>
            <!-- /.container -->

            <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <script src="js/ie10-viewport-bug-workaround.js"></script>
        </body>
        </html>

    </apex:form>
</apex:page>